/* ORIGINAL CSS */

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
  }
  
  .emoji {
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
  }
  
  .emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
  }
  
  .emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
  }
  
  .icon {
    font-size: 4rem;
  }

/* ORIGINAL CSS ENDS */

/* Flex & Grid CSS */

/* Displays the emoji cards in grid, with 2 columns and a 15px (i estimated the size based on image) gap for horizontal and vertical */
.emojis {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:15px;
}

/* Displays the items in the emoji card in flex, in column direction to display vertically */
.emoji {
    display:flex;
    flex-direction: column;
}

/* Targets the spans that show the emojis in the emoji cards. Changes the order to display first using -1, and aligns it in the center of the x axis (in this case, the cross axis due to the direction change) */
.emoji > span.icon {
    order:-1;
    align-self:center;
}

/* Targets the paragraph in the emoji cards. Causes the paragraph to take up any extra space in the card, which pushes the button to the end. */
.emoji > p {
    flex-grow: 1;
}
